*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    border-radius: 20px;
}

body{
    background-image: url(https://wp.eucapacito.com.br/wp-content/uploads/2021/04/AdobeStock_241083104-scaled.jpeg);
    max-width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

main .conteudo-principal {
    background-color: #163840d8;
    padding: 10px;
    
}

main .conteudo-principal h1, h2 {
    color: white;
    text-align: center;
    padding: 20px;
    margin: auto;
}

main .conteudo-principal p {
    color: white;
    text-align: left;
    margin: 20px;
    padding: 6px;
    text-align: justify;
}

#menu-h{
    list-style: none;
    padding: 0;
    background-color: #163840a9;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.61);
    text-align: justify;
    max-width: 600px;

}

#menu-h li{
    display: inline;    
}

#menu-h li a{
    color: rgb(255, 253, 253);
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    transition: background .8s;
}

#menu-h li a:hover{
    background-color:#2B6D7D
}


main{
   /* background-color: rgb(209, 200, 200);*/
    margin: 10px;
    padding: 5px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    max-width: 600px;
    margin-top: 20px;
}


li{
    color: white;
}

#nomeaula {
    color: white;
    text-align: center;
}



footer {
    background-color: #163840;
    text-align: center;
    padding: 4px;
    margin: 10px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.644);
}

footer > p {
    color: white;
}
